@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
	box-sizing: border-box;
}
/* - Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */
html,
body {
	width: 100%;
	height: 100%;
	font-family: "Inter", sans-serif;
	margin: 0px;
}

body {
	width: 100%;
	height: 100vh;
	background-image: url("./images/pattern-curve.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: bottom left;
}

.testimonial {
	z-index: 0;
}

.testimonial-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.animation {
	animation: fadeSlide 0.5s ease-in-out;
}

@keyframes fadeSlide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.img-wrapper {
	padding: 40px 40px 0px 40px;
	height: 100%;
	/* border: 1px solid black; */
	max-width: 400px;
	width: 80%;
	margin: 0px auto;
	background-image: url("./images/pattern-bg.svg");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 13px;
}

img {
	height: auto;
	width: 100%;
	border-radius: 5px;
	box-shadow: 3px 3px 10px gray;
}

button {
	border: 0px;
	background: transparent;
}

.button-wrapper {
	display: flex;
	margin: 0px auto;
	width: 80px;
	border-radius: 40px;
	padding: 10px;
	background-color: white;
	justify-content: space-between;
	box-shadow: -3px 3px 10px grey;
	transform: translateY(-23px);
}

.button-wrapper:hover {
	cursor: pointer;
}

button:hover {
	cursor: pointer;
	z-index: 99;
}

.arrows {
	border: 0px;
	background-color: transparent;
	z-index: 99;
}

.arrows:hover {
	transform: translateY(-2px);
}

.arrows:active {
	transform: translateY(0px);
}

.testimonial-1 {
	padding-top: 20px;
}

h1 {
	font-weight: 300;
	text-align: center;
	padding: 20px;
	color: hsl(240, 38%, 20%);
	font-size: 1.2rem;
}

.text {
	width: 100%;
	height: 100%;
	background-image: url("./images/pattern-quotes.svg");
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: top center;
}

p {
	text-align: center;
	font-weight: 700;
	color: hsl(240, 38%, 20%);
}

.do-not-display {
	display: none;
}

.gray-text {
	font-weight: 500;
	color: hsl(240, 18%, 77%);
}

@media (min-width: 768px) {
	.img-wrapper {
		margin: 0px;
		padding: 56px 66px 0px 60px;
	}

	h1 {
		padding: 50px 50px 0px 50px;
		font-size: 1.6rem;
	}
	p {
		font-size: 1.5rem;
	}
}

@media (min-width: 1000px) {
	.testimonial-1 {
		flex-direction: row-reverse;
		height: 90vh;
		position: relative;
		justify-content: flex-end;
		padding-left: 50px;
		padding-right: 50px;
	}

	.img-wrapper {
		display: flex;
		flex-direction: row;
		max-width: 500px;
		z-index: 0;
		margin: auto;
		height: auto;
		position: absolute;
		right: 0;
		background-position-y: center;
		padding: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-right: 40px;
		height: 100%;
		background-size: 100%;
	}

	.testimonial {
		width: 65%;
	}

	img {
		width: 390px;
		display: block;
		transform: translate(-13px, 25px);
	}

	h1 {
		text-align: left;
	}

	.text {
		background-position: top left;
		background-position-x: 137px;
		padding-left: 45px;
	}

	h1 {
		font-size: 1.6rem;
	}

	p {
		display: flex;
		flex-direction: row;
		padding-left: 50px;
	}

	.gray-text {
		margin-left: 10px;
	}

	.button-wrapper {
		margin: 0px;
		transform: translate(-100px, 0px);
	}
}

@media (min-width: 1200px) {
	.button-wrapper {
		transform: translate(-160px, 0px);
	}

	.img-wrapper {
		max-width: 715px;
	}
	img {
		width: 555px;
	}
	h1 {
		font-size: 2.1rem;
	}

	.testimonial {
		width: 60%;
	}
}
